name: test:unit

on:
    pull_request:
        branches:
            - main
        paths:
            - "src/**"
            - "tests/**"
            - ".github/workflows/test:unit.yml"
    workflow_dispatch:

jobs:
    unittest:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "24"
                  cache: "npm"
            - name: Build App
              run: |
                  npm install
                  npm run test:coverage
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage/coverage-final.json
